

body {
    background-color: #020202;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
    
  }
  
  #container{
    width: 1400px;
    height: 900px;
    display: flex;
    justify-content: center;
    margin: auto;  
}

#lblock {
    width:35%;
    height: 100%;
    background-image: url(fern.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#rblock {
    flex: 1;
    width: 65%;
    height: 100%;
}

form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background-color: rgb(239, 240, 241);
}

.rchild {
    padding: 3% 5%;
    width: auto;
}


#child-1, #form-title {
    font-size: 1.5em;
    font-weight:bold;
}
#child-2 {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;

    
}

.form-el {
    width: 50%;
    
}

#form-title {
    width: 100%;
}

label, input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    width: 70%;
    height: 30px;
  }

button {
    display: block;
    font-family: inherit;
    font-size: 100%;
    color: #fff;
    font-weight: bold;
    width: 240px;
    height: 45px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #596D48;
    padding: 5px;

}